*{
  margin: 0;
  padding: 0;
  font-family: Vazir;
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir.ttf');
  src: url('../public/fonts/Vazir.eot') format('embedded-opentype'),
       url('../public/fonts/Vazir.woff') format('woff'),
       url('../public/fonts/Vazir.woff2') format('truetype');
}
body {
  font-family: Vazir;
  height: 100vh;
  width: 100vw;
  background-color: #282a36!important;
}

.to.Toastify__toast-body {
  font-family: Vazir tahoma !important;
}